 {{ error_page }}
 <section
            class="bg-purple-100 lg:max-h-screen lg:h-full w-full 2xl:pt-24 xl:pt-[85px] lg:pt-20 md:pt-18.5 sm:pt-[59px] pt-13.5">
            <div class="container min-h-[90vh] h-full flex items-center justify-center">
                <div
                    class="flex flex-col items-center justify-center mx-auto 1xl:w-[42%] xl:w-1/2 lg:w-3/5 md:w-3/4 w-full h-full py-10">
                    <div
                        class="3xl:mb-11 1xl:mb-9 md:mb-7 mb-6 3xl:size-[188px] 2xl:size-[165px] xl:size-[150px] md:size-[130px] sm:size-[110px] size-[100px]">
                       {{ image }} <img loading="lazy" src="{{ url }}" alt="404 Error"
                            class="w-full h-full object-contain" />{{ /image }}
                    </div>
                    <h3 class="3xl:mb-6 lg:mb-4.5 mb-3 text-center">{{ section_title }}</h3>
                    <p class="p2 font-normal 2xl:mb-11 lg:mb-8 mb-7 text-center">
                        {{ description }}
                    </p>
                    {{ if button_text }}
                    <a href="{{ button_url }}" class="btn btn-primary all-btn rounded-full group">
                        {{ button_text }}
                        <span
                            class="btn btn-arrow rounded-full all-btn-arrow group-hover:rotate-45 transition-all ease-in-out duration-500">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                                fill="none" class="1xl:size-5.5 xl:size-5 size-4">
                                <g clip-path="url(#clip0_421_92)">
                                    <path
                                        d="M3.37663 17.7995L15.6479 5.52821L5.12966 5.52821L5.03951 4.11577L18.0621 4.11577L18.0621 17.1383L16.6496 17.0482L16.6496 6.52995L4.37836 18.8012L3.37663 17.7995Z"
                                        fill="currentColor" />
                                </g>
                            </svg>
                        </span>
                    </a>
                    {{ /if }}
                </div>
            </div>
        </section>
        {{ /error_page }}