<!-- Swiper JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- AOS JS -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 60,
        once: true,
    });
</script>
<!-- Custom JS -->
<script src="{{ theme:asset src='assets/js/custom.js'}}?v={{ now format=" YmdHis" }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/js/all.min.js"></script>

<script>
    const headerSearch = "{{ route:header.search }}";
    const serviceSearch = "{{ route:service.search }}";
    const insightSearch = "{{ route:insight.search }}";
    const currentPage = '{{ segment_1 }}';
    const newsLetterUrl = '{{ route:newsLetter }}';
</script>