<head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
       <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <title>{{ title ?? site:name }}</title>
       {{ setting }} {{ favicon }} <link rel="icon" type="image/x-icon" href="{{ url }}" />{{/favicon}}{{ /setting }}
       <!-- Swiper CSS -->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
       <!-- StyleSheet -->
       <link rel="stylesheet" href="{{ theme:asset src='assets/css/output.css'}}?v={{ now format="YmdHis" }}">
       <!-- aos -->
       <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


</head>