<section>
    <div class="bg-purple-100 3xl:py-25 2xl:py-[90px] xl:py-20 lg:py-17 py-12.5">
        <!-- container -->
        <div class="container">
            <!-- sub_title -->
            <div
                class="flex md:items-center justify-between md:flex-row flex-col w-full gap-4 xl:pb-10 lg:pb-7 sm:pb-6 pb-5">
                <div class="flex flex-col 2xl:gap-8 1xl:gap-7 gap-5 md:w-1/2 w-full" data-aos="fade-right">
                    <div class="flex items-center md:gap-[18px] gap-1.5">
                        <span class="dash border border-primary"></span>
                        <p class="p2 uppercase">{{ sub_title }}</p>
                    </div>

                    <h3>{{ title | explode(highlight_word) }}{{ if first }}
                        {{ value }}
                        {{ else }}
                        <span class="text-primary">{{ highlight_word }}</span>{{ value }}
                        {{ /if }}
                        {{ /title | explode }}
                    </h3>
                </div>
                <p class="p2 2xl:max-w-[38%] 1xl:max-w-2/5 lg:max-w-[45%] md:w-1/2 w-full" data-aos="fade-left">
                    {{ description }}
                </p>
            </div>

            <!-- Count grid -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 2xl:gap-[25px] xl:gap-5 lg:gap-4.5 gap-4">
                <!-- Card 1 -->
                {{ benefits }}
                <div class="bg-white 2xl:p-[30px] xl:p-6 sm:p-5 p-4 rounded-lg" data-aos="fade-up">
                    <div class="flex flex-col">
                        <div class="xl:mb-7 md:mb-5 mb-4">
                            {{ icon_image }}<img src="{{ url }}"
                                class="3xl:size-[60px] 2xl:size-12.5 1xl:size-11 md:size-10 size-9">{{ /icon_image }}

                        </div>
                        <h5
                            class="2xl:pb-[25px] xl:pb-5 sm:pb-4 pb-3 2xl:mb-[25px] sm:mb-5 mb-3 border-b border-[#DADDE9]">
                            {{ title }}</h5>
                        <p class="p2 leading-relaxed">
                            {{ description }}
                        </p>
                    </div>
                </div>
                {{ /benefits }}

            </div>
        </div>
    </div>
</section>