 <section class="relative">
    <div class="2xl:h-[550px] xl:h-[440px] lg:h-[415px] md:h-[350px] sm:h-[300px] h-[270px]">
        <div class="absolute inset-0 bg-cover bg-center z-0" style="background-image: url('{{ theme:asset }}assets/image/about-us-bg.svg')"></div>
        <div class="container">
            <div class="business-plan-outer-box ">
                <div class="business-plan-inner-box">
                    <h4>{{ section_title }}</h4>
                    {{ if button_text }}
                    <a href="{{ button_url }}"
                    class="btn btn-primary p-1 1xl:ps-[27px] xl:ps-5 ps-3.5 1xl:gap-3 gap-2 rounded-full group">
                    {{ button_text }}
                    <span
                    class="btn btn-arrow rounded-full xl:size-11 size-9 group-hover:rotate-45 transition-all ease-in-out duration-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                    fill="none" class="1xl:size-5.5 xl:size-5 size-4">
                    <g clip-path="url(#clip0_421_92)">
                        <path
                        d="M3.37663 17.7995L15.6479 5.52821L5.12966 5.52821L5.03951 4.11577L18.0621 4.11577L18.0621 17.1383L16.6496 17.0482L16.6496 6.52995L4.37836 18.8012L3.37663 17.7995Z"
                        fill="currentColor" />
                    </g>
                </svg>
            </span>
        </a>
        {{ /if }}
    </div>
</div>
</div>
</div>
</section>