       {{ if background_color }}

        <section class="3xl:pb-25 2xl:pb-[90px] xl:pb-20 lg:pb-17 pb-12.5">
            <div class="bg-purple-100 3xl:py-25 2xl:py-[90px] xl:py-20 lg:py-17 py-12.5">
            <!-- container -->
            <div class="container">
                <!-- sub_title -->
                <div
                    class="flex md:items-center justify-between md:flex-row flex-col w-full gap-4 xl:pb-10 lg:pb-7 sm:pb-6 pb-5">
                    <div class="flex flex-col 2xl:gap-8 1xl:gap-7 gap-5 md:w-1/2 w-full" data-aos="fade-right">
                        <div class="flex items-center md:gap-[18px] gap-1.5">
                            <span class="dash border border-primary"></span>
                            <p class="p2 uppercase">{{ sub_title }}</p>
                        </div>
                        <h3>{{ title | explode(highlight_word) }}
                                {{ if first }}
                                {{ value }}
                                {{ else }}
                                <span class="text-primary">{{ highlight_word }}</span>{{ value }}
                                {{ /if }}
                                {{ /title | explode }}</h3>
                    </div>
                    <p class="p2 2xl:max-w-[515px] xl:max-w-[432px] lg:max-w-94 md:max-w-90 w-full"
                        data-aos="fade-left">
                        {{ description }}
                    </p>
                </div>

                <!-- Count grid -->
                <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 3xl:gap-[34px] 1xl:gap-6.5 sm:gap-5.5 gap-5">
                    <!-- Card 1 -->
                    {{ technology_cards }}
                    <div class="bg-white 2xl:p-[30px] xl:p-6 sm:p-5 p-4 rounded-lg border border-gray-100"
                        data-aos="fade-up">
                        <h5 class="text-black-100 lg:mb-4 sm:mb-3 mb-2.5">{{ number }} {{ card_title }}
                        </h5>
                        <p class="md:mb-5 sm:mb-4.5 mb-4  p2">
                            {{ card_description }}
                        </p>
                        <ul class="filter-marker services-list mt-0 space-y-2">
                            {{ bullet_points }}
                            <li class="flex items-start 1xl:gap-2.5 gap-2">
                                {{ point_text }}
                            </li>
                            {{ /bullet_points }}
                        </ul>
                    </div>
                    {{ /technology_cards }}
                </div>
            </div>
            </div>
        </section>
       {{ else }}
 <section class="3xl:pb-25 2xl:pb-[90px] xl:pb-20 lg:pb-17 pb-12.5">
            <!-- container -->
            <div class="container">
                <!-- sub_title -->
                <div
                    class="flex md:items-center justify-between md:flex-row flex-col w-full gap-4 xl:pb-10 lg:pb-7 sm:pb-6 pb-5">
                    <div class="flex flex-col 2xl:gap-8 1xl:gap-7 gap-5 md:w-1/2 w-full" data-aos="fade-right">
                        <div class="flex items-center md:gap-[18px] gap-1.5">
                            <span class="dash border border-primary"></span>
                            <p class="p2 uppercase">{{ sub_title }}</p>
                        </div>
                        <h3>{{ title | explode(highlight_word) }}
                                {{ if first }}
                                {{ value }}
                                {{ else }}
                                <span class="text-primary">{{ highlight_word }}</span>{{ value }}
                                {{ /if }}
                                {{ /title | explode }}</h3>
                    </div>
                    <p class="p2 2xl:max-w-[515px] xl:max-w-[432px] lg:max-w-94 md:max-w-90 w-full"
                        data-aos="fade-left">
                        {{ description }}
                    </p>
                </div>

                <!-- Count grid -->
                <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 3xl:gap-[34px] 1xl:gap-6.5 sm:gap-5.5 gap-5">
                    <!-- Card 1 -->
                    {{ technology_cards }}
                    <div class="bg-white 2xl:p-[30px] xl:p-6 sm:p-5 p-4 rounded-lg border border-gray-100"
                        data-aos="fade-up">
                        <h5 class="text-black-100 lg:mb-4 sm:mb-3 mb-2.5">{{ number }} {{ card_title }}
                        </h5>
                        <p class="md:mb-5 sm:mb-4.5 mb-4  p2">
                            {{ card_description }}
                        </p>
                        <ul class="filter-marker services-list mt-0 space-y-2">
                            {{ bullet_points }}
                            <li class="flex items-start 1xl:gap-2.5 gap-2">
                                {{ point_text }}
                            </li>
                            {{ /bullet_points }}
                        </ul>
                    </div>
                    {{ /technology_cards }}
                </div>
            </div>
        </section>
        {{ /if }}