{{ if image }}
<section class="relative overflow-hidden">
            <div class="lg:container lg:px-4 mx-auto">
                <div class="flex justify-between lg:flex-row flex-col md:gap-10 gap-7">
                    <!-- Organizational heading -->
                    <div class="3xl:max-w-[700px] 2xl:max-w-[605px] 1xl:max-w-[585px] xl:max-w-[511px] lg:max-w-[480px] w-full my-auto 1xl:py-16 xl:py-12 lg:py-7 lg:pt-12.5 lg:px-0 px-4 max-lg:container mx-auto"
                        data-aos="fade-right">
                        <div class="w-full my-auto">
                            <div class="flex flex-col">
                                <div class="flex items-center gap-2.5">
                                    <span class="dash border border-primary"></span>
                                    <p class="p2 uppercase">{{ subtitle }}</p>
                                </div>
                                <h3 class="3xl:mt-[35px] 3xl:mb-[25px] xl:my-7 lg:my-5 mb-[15px] mt-5">
                                    {{ title | explode(highlight_text) }}
                                    {{ if first }}
                                    {{ value }}
                                    {{ else }}
                                    <span class="text-primary">{{ highlight_text }}</span>{{ value }}
                                    {{ /if }}
                                    {{ /title | explode }}
                                </h3>
                                {{ description_content }}
                                <p class="p2 2xl:mb-5 mb-4 last:mb-0">
                                   {{ paragraph }}
                                </p>
                                {{ /description_content }}
                                
                            </div>
                        </div>
                    </div>
                    <div class="3xl:max-w-[948px] 2xl:max-w-[730px] 1xl:max-w-[700px] lg:max-w-[625px] w-full 3xl:-mr-[180px] 2xl:-mr-[76px] 1xl:-mr-[108px] xl:-mr-[60px] lg:-mr-[105px] md:-mr-[128px] lg:h-auto md:h-[500px] sm:h-[450px] h-full "
                        data-aos="fade-left">
                        {{ image }}<img loading="lazy" src="{{ url }}" alt="join team"
                            class="w-full h-full object-cover" />{{ /image }}
                    </div>
                </div>
            </div>
        </section>
        {{ else }}

         <section class="relative overflow-hidden 3xl:pb-25 2xl:pb-[90px] xl:pb-20 lg:pb-17 pb-12.5">
            <div class="lg:container lg:px-4 mx-auto">
                <div
                    class="flex justify-between items-stretch lg:flex-row flex-col-reverse 3xl:gap-25 2xl:gap-22 1xl:gap-18 xl:gap-14 lg:gap-7 gap-11">
                    <!-- Organizational heading -->
                    <div class="lg:max-w-[55%] w-full 3xl:-ml-[180px] 2xl:-ml-[76px] 1xl:-ml-[100px] xl:-ml-[65px] lg:-ml-[40px] lg:h-auto md:h-[500px] sm:h-[450px] h-full"
                        data-aos="fade-right">
                        {{ left_side_image }}<img loading="lazy" src="{{ url }}" alt="join team"
                            class="w-full h-full object-cover" />{{ /left_side_image }}
                    </div>

                    <div class="{{if segment_2 == 'retail-e-commerce'}}1xl:py-16 xl:py-12 lg:py-7 pt-12.5 {{else}} 1xl:py-16 xl:py-12 lg:py-7{{/if}} lg:max-w-1/2 w-full my-auto lg:px-0 px-4 max-lg:container mx-auto"
                        data-aos="fade-left">
                        <div class="w-full my-auto">
                            <div class="flex flex-col">
                                <div class="flex items-center gap-2.5">
                                    <span class="dash border border-primary"></span>
                                    <p class="p2 uppercase">{{ subtitle }}</p>
                                </div>
                                <h3 class="3xl:mt-[35px] 3xl:mb-[25px] xl:my-7 lg:my-5 mb-[15px] mt-5 1xl:pr-10">
                                     {{ title | explode(highlight_text) }}
                                    {{ if first }}
                                    {{ value }}
                                    {{ else }}
                                    <span class="text-primary">{{ highlight_text }}</span>{{ value }}
                                    {{ /if }}
                                    {{ /title | explode }}
                                </h3>
                                {{ description_content }}
                                <p class="p2 2xl:mb-5 mb-4 last:mb-0">
                                    {{ paragraph }}
                                </p>
                                {{ /description_content }}
                                {{ if button_text }}
                                <a href="{{ button_url }}" aria-label="Open Page"
                                    class="btn btn-primary all-btn rounded-full group w-fit 1xl:mt-4 mt-3">
                                    {{ button_text }}
                                    <span
                                        class="btn btn-arrow rounded-full 3xl:w-11 3xl:h-11 1xl:w-10 1xl:h-10 xl:w-9 xl:h-9 w-8 h-8">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                            viewBox="0 0 22 22" fill="none"
                                            class="1xl:w-5 1xl:h-5 xl:w-[19px] xl:h-[19px] lg:w-4 lg:h-4 w-3.5 h-3.5 group-hover:rotate-45 transition-all ease-in-out duration-500">
                                            <g clip-path="url(#clip0_421_92)">
                                                <path
                                                    d="M3.37663 17.7995L15.6479 5.52821L5.12966 5.52821L5.03951 4.11577L18.0621 4.11577L18.0621 17.1383L16.6496 17.0482L16.6496 6.52995L4.37836 18.8012L3.37663 17.7995Z"
                                                    fill="currentColor" />
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                                    {{ /if }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ /if }}